@import "./common/var.less";
@import "./common/utils.less";

.button-size(@padding-vertical, @padding-horizontal, @font-size, @border-radius) {
    padding: @padding-vertical @padding-horizontal;
    font-size: @font-size;
    border-radius: @border-radius;
    &.is-round {
        padding: @padding-vertical @padding-horizontal;
    }
}


.button-variant(@color, @background-color, @border-color) {
    color: @color;
    background-color: @background-color;
    border-color: @border-color;

    &:hover,
    &:focus {
        background: mix(@--color-white, @background-color, @--button-hover-tint-percent);
        border-color: mix(@--color-white, @border-color, @--button-hover-tint-percent);
        color: @color;
    }

    &:active {
        background: mix(@--color-black, @background-color, @--button-active-shade-percent);
        border-color: mix(@--color-black, @border-color, @--button-active-shade-percent);
        color: @color;
        outline: none;
    }

    &.is-active {
        background: mix(@--color-black, @background-color, @--button-active-shade-percent);
        border-color: mix(@--color-black, @border-color, @--button-active-shade-percent);
        color: @color;
    }

    &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
            color: @--color-white;
            background-color: mix(@background-color, @--color-white);
            border-color: mix(@border-color, @--color-white);
        }
    }

    &.is-plain {
        .button-plain(@background-color);
    }
}

.button-plain(@color) {
    color: @color;
    background: mix(@--color-white, @color, 90%);
    border-color: mix(@--color-white, @color, 60%);

    &:hover,
    &:focus {
        background: @color;
        border-color: @color;
        color: @--color-white;
    }

    &:active {
        background: mix(@--color-black, @color, @--button-active-shade-percent);
        border-color: mix(@--color-black, @color, @--button-active-shade-percent);
        color: @--color-white;
        outline: none;
    }

    &.is-disabled {
        &,
        &:hover,
        &:focus,
        &:active {
            color: mix(@--color-white, @color, 40%);
            background-color: mix(@--color-white, @color, 90%);
            border-color: mix(@--color-white, @color, 80%);
        }
    }
}


.pm-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: @--button-default-background-color;
    border: @--border-base;
    border-color: @--button-default-border-color;
    color: @--button-default-font-color;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: @--button-font-weight;

    & + & {
        margin-left: 10px;
    }

    .utils-user-select(none);
    .button-size(
            @--button-padding-vertical,
            @--button-padding-horizontal,
            @--button-font-size,
            @--button-border-radius
    );

    &:hover,
    &:focus {
        color: @--color-primary;
        border-color: @--color-primary-light-7;
        background-color: @--color-primary-light-9;
    }

    &:active {
        color: mix(@--color-black,
        @--color-primary,
        @--button-active-shade-percent);
        border-color: mix(@--color-black,
        @--color-primary,
        @--button-active-shade-percent);
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    & [class*="el-icon-"] {
        & + span {
            margin-left: 5px;
        }
    }

    &--primary {
        .button-variant(
                @--button-primary-font-color,
                @--button-primary-background-color,
                @--button-primary-border-color
        );
    }

    &--success {
        .button-variant(
                @--button-success-font-color,
                @--button-success-background-color,
                @--button-success-border-color
        );
    }

    &--info {
        .button-variant(
                @--button-info-font-color,
                @--button-info-background-color,
                @--button-info-border-color
        );
    }
}