@import "./common/var.less";
@import "./common/utils.less";

.pm-image {
    position: relative;
    display: inline-block;
    overflow: hidden;

    img, .pm-image__error, .pm-image__inner, .pm-image__placeholder {
        width: 100%;
        height: 100%;
    }

    .image--round {
        overflow: hidden;
        border-radius: 50%;
    }

    .image-slot {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: @--background-color-base;
        color: @--color-info;
    }


    .pm-image__error {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: @--color-info;
        vertical-align: middle;
        background: @--background-color-base;
    }

    .image-demo__lazy {

    }
}
