@import "./common/var.less";
@import "./common/utils.less";

.pm-image {
    position: relative;
    display: inline-block;
    overflow: hidden;

    & .pm-image__inner {
        width: 100%;
        height: 100%;
    }
}
